.dev_loginlogo{
    margin-top: 5rem !important;
    
}
.dev_loginbox{
    margin-top: 10rem !important;
}
.imgloginlogo{
    position: absolute;
    left: 50%;
    margin-left: -70px;
    width:140px;
    height: auto;
}
.bg-full-login { 
    background: url(../upload/bk/b2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }